@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-neutral-50;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.legend {
  position: relative;
  width: 20px;
  height: 2px;
  background: white;
  margin-bottom: 8px;
  opacity: 0.8;
}

.legend:before,
.legend:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 2px;
  width: 2px;
  height: 4px;
  background: white;
}

.legend:before {
  left: 0;
}

.legend:after {
  right: 0;
}
